In [12]:
import pandas as pd
import numpy as np 
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [13]:
pwd

'/Users/admin/Desktop/python/projects/personal/review'

In [18]:
combine_data = pd.read_csv("/Users/admin/Desktop/python/projects/personal/Data_Analysis/combine.csv", error_bad_lines=False)

b'Skipping line 97: expected 26 fields, saw 28\nSkipping line 111: expected 26 fields, saw 28\n'

In [19]:
combine_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0,12,0,USC,NaN,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,36.0,121,24,0,LSU,NaN,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,26.5,97,0,6,Brigham Young,19(188),19,188,0,0.0
4941,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,32.5,112,0,4,Kentucky,3(98),3,98,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.0,0,20,7,Kansas State,17(223),17,223,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,35.5,122,20,4,Fort Valley State,37(132),37,132,0,0.0
4944,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.0,0,0,3,West Virginia,34(95),34,95,0,0.0

In [36]:
index = combine_data["name"]

In [38]:
combine_data.index = index

In [39]:
combine_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
name,,,,,,,,,,,,,,,,,,,,,
Ameer Abdullah,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9
Nelson Agholor,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0,12,0,USC,NaN,0,0,0,5.6
Jay Ajayi,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0
Kwon Alexander,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,36.0,121,24,0,LSU,NaN,0,0,0,5.4
Mario Alford,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Daren Yancey,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,26.5,97,0,6,Brigham Young,19(188),19,188,0,0.0
Craig Yeast,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,32.5,112,0,4,Kentucky,3(98),3,98,0,0.0
Ryan Young,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.0,0,20,7,Kansas State,17(223),17,223,0,0.0
Peppi Zellner,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,35.5,122,20,4,Fort Valley State,37(132),37,132,0,0.0
Amos Zereoue,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.0,0,0,3,West Virginia,34(95),34,95,0,0.0

In [67]:
combine_data[(combine_data["bench"] > 50) & (combine_data["position"] == "DT")]

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
name,,,,,,,,,,,,,,,,,,,,,
Justin Ernest,1999,Justin Ernest,Justin,Ernest,DT,6,3.0,75.0,281,0.0,...,31.0,113,51,0,NaN,NaN,0,0,0,0.0

In [68]:
#The Highest bench for at DT between 1999 to 2015

In [72]:
pbp_data = pd.read_csv("/Users/admin/Desktop/python/projects/personal/Data_Analysis/pbp-2019.csv")
pbp_data

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
0,2019102005,2019-10-20,2,4,5,IND,HOU,3,2,56,...,0,0,NaN,44,OPP,0,NaN,0,NaN,0
1,2019102005,2019-10-20,2,3,35,IND,HOU,1,10,68,...,0,0,LEFT TACKLE,32,OPP,0,NaN,0,NaN,0
2,2019102005,2019-10-20,2,2,54,IND,HOU,2,10,68,...,0,0,NaN,32,OPP,0,NaN,0,NaN,0
3,2019102005,2019-10-20,2,2,11,IND,HOU,1,10,80,...,0,0,CENTER,20,OPP,0,NaN,0,NaN,0
4,2019102005,2019-10-20,2,2,0,IND,HOU,2,9,81,...,0,0,NaN,19,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37046,2019090800,2019-09-08,1,0,0,NaN,LA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
37047,2019090801,2019-09-08,2,0,0,NaN,TEN,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
37048,2019090800,2019-09-08,3,0,0,NaN,LA,0,0,0,...,0,0,NaN,0,OWN,0,NaN,0,NaN,0
37049,2019090500,2019-09-05,2,13,8,GB,CHI,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
37050,2019090500,2019-09-05,3,15,0,GB,CHI,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0

In [73]:
pbp_data[pbp_data["OffenseTeam"] == "BAL"]

,GameId,GameDate,Quarter,Minute,Second,OffenseTeam,DefenseTeam,Down,ToGo,YardLine,...,IsTwoPointConversion,IsTwoPointConversionSuccessful,RushDirection,YardLineFixed,YardLineDirection,IsPenaltyAccepted,PenaltyTeam,IsNoPlay,PenaltyType,PenaltyYards
5,2019111001,2019-11-10,3,6,41,BAL,CIN,1,10,67,...,0,0,NaN,33,OPP,0,NaN,0,NaN,0
6,2019111001,2019-11-10,3,6,9,BAL,CIN,1,10,78,...,0,0,NaN,22,OPP,0,NaN,0,NaN,0
786,2019120801,2019-12-08,4,9,49,BAL,BUF,0,0,85,...,0,0,NaN,15,OPP,0,NaN,0,NaN,0
787,2019120801,2019-12-08,4,9,54,BAL,BUF,2,4,96,...,0,0,NaN,4,OPP,0,NaN,0,NaN,0
788,2019120801,2019-12-08,4,10,33,BAL,BUF,1,4,96,...,0,0,CENTER,4,OPP,0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36640,2019111001,2019-11-10,3,6,4,BAL,CIN,2,10,78,...,0,0,NaN,22,OPP,0,NaN,0,NaN,0
36897,2019101301,2019-10-13,2,14,48,BAL,CIN,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0
36930,2019100607,2019-10-06,1,7,24,BAL,PIT,4,7,91,...,0,0,NaN,9,OPP,0,NaN,0,NaN,0
36969,2019092901,2019-09-29,1,12,54,BAL,CLE,2,8,37,...,0,0,NaN,37,OWN,0,NaN,0,NaN,0
37044,2019090803,2019-09-08,3,7,54,BAL,MIA,0,0,35,...,0,0,NaN,35,OWN,0,NaN,0,NaN,0